body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://bing.img.run/rand_uhd.php') center/cover no-repeat;
    z-index: -1;
    filter: blur(10px);
}

.container {
    width: 80%;
    max-width: 600px;
    z-index: 1;
}

h1, h2 {
    color: #007BFF;
    text-align: center;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.link {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.tool-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.command-code {
    font-family: 'Courier New', monospace;
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
}

.github-icon, .telegram-icon {
    position: fixed;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.github-icon {
    bottom: 20px;
    right: 60px;
}

.telegram-icon {
    bottom: 20px;
    right: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-link {
    position: fixed;
    right: 20px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
    white-space: pre-wrap;
    display: block;
    margin-bottom: 20px;
}
